<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("MetaPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body>
    <header class="bg-white border-bottom">
        <div class="d-flex justify-content-between container">
            <nav class="navbar">
                <a class="navbar-brand m-0" asp-controller="Project" asp-action="Index">
                    <img src="/images/sibers-logo.jpeg" height="40">
                </a>

            </nav>
            <nav class="nav w-100 fs-4 align-middle align-items-center justify-content-center">

                <a class="nav-link" asp-controller="Project" asp-action="Index">Список проектов</a>
                <a class="nav-link" asp-controller="Employee" asp-action="Index">Список сотрудников</a>
            </nav>
        </div>
    </header>

    <div class="h-100">
        <main role="main" class="container h-100">
            @RenderBody()
        </main>
    </div>

    <footer>

    </footer>

    @await Html.PartialAsync("ScriptPartial")
</body>
</html>