@using AspNetCoreSibers.Domain.Entities;
@using AspNetCoreSibers.Service.Shared;

@model IReadOnlyList<Project>
@{
    ViewData["Title"] = "Sibers - Список проектов";
};

<div class="mb-3">
    <a class="btn btn-outline-primary" asp-action="Add">Добавить проект</a>
</div>

<div class="row row-cols-3 g-3 overflow-auto h-75">
    @foreach (var project in Model)
    {
        <div class="col">
            <div class="card d-flex flex-row align-items-center">

                <img class="card-img-left ms-2" src="/images/project-holder-logo.svg" width="40" height="40">

                <div class="card-body w-100 overflow-hidden">
                    <h5 class="card-title text-truncate">@project.Name</h5>
                    <div class="text-truncate">Приоритет: @project.Prierity</div>
                    <div class="text-truncate">Дата начала - @project.ProjectStartDate.ToString(Constants.DATE_FORMAT)</div>
                    <div class="text-truncate">Дата окончания - @project.ProjectEndDate.ToString(Constants.DATE_FORMAT)</div>
                </div>

                <a class="btn btn-primary me-4">Подробнее</a>
            </div>
        </div>
    }
</div>

